.app{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: indianred;
  width:80%;
  height:200%;
  padding-bottom: 15%;
  text-align: center;
  color: white;
  font-size: x-large;
}
.first{
  padding-bottom:5%;
  margin:auto
}